    div{
      background-color: gray;
      color: white;
      font-size: 32px;
      font-weight: 900;
      border:3px dotted black;
      width: 100px;
      height: 100px;
      border-radius:5px;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    #target{
      background-color: blue;
    }
    .box{
      background-color: red;
    }